html,
body {
	background-color: inherit;
	color: inherit;
	height: 100%;
}

.container-global {
	align-items: center;
	display: flex;
	font: calc(var(--square-size) / 2.5) Arial, Helvetica, sans-serif;
	justify-content: center;
	height: 100%;
	overflow: hidden;
}

#menu-icon {
	background: none;
	border: none;
	font: calc(var(--square-size) / 1.8) Arial, Helvetica, sans-serif;
	padding: .2em .4em;
	position: absolute;
	right: .5em;
	top: .5em;
	color: inherit;
}

.menu {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	opacity: .9;
	padding: 10px;
	width: 50%;
}

.menu-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.menu-container.open {
	display: flex;
}

.tab-content {
	color: black;
	margin: 10px 0;
}

.color-scheme-group {
	padding-left: 10px;
}

.difficulty-slider-container {
	display: inline-block;
	padding: 10px;
	width: 60%;
}

.difficulty-labels {
	cursor: default;
    font-size: 0.75rem;
	margin: 0 1.5%;
}

label[for="difficulty-slider"] {
	margin-top: 8px;
	vertical-align: top;
}

.tab-content label {
	text-align: right;
	width: 37%;
}

.modal-content {
	color: black;
	opacity: .9;	
}

.rank {
	display: flex;
}

.rank:nth-child(2) .square {
	border-top: calc(var(--square-size) / 28) solid var(--border-color);
}

.rank:nth-child(9) .square {
	border-bottom: calc(var(--square-size) / 28) solid var(--border-color);
}

.rank .square:nth-child(2) {
	border-left: calc(var(--square-size) / 28) solid var(--border-color);
}

.rank .square:nth-child(9) {
	border-right: calc(var(--square-size) / 28) solid var(--border-color);
}

.legend {
	cursor: default;
	display: inline-block;
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square {
	cursor: default;
	display: inline-block;
	font-size: calc(var(--square-size) / 1.14);
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square .ui-draggable-handle {
	cursor: grab;
}

.square .ui-draggable-dragging {
	cursor: grabbing;
	opacity: .85;
	text-shadow: 4px 4px 4px black;
}

.square.white {
	background-color: var(--square-white);
}

.square.black {
	background-color: var(--square-black);
}

span.white {
	color: #222;
}

span.black {
	color: black;
}

:root.dark-theme {
	background-color: black;
	color: silver;
	--border-color: grey;
}

:root.light-theme {
	background-color: white;
	color: black;
	--border-color: black;
}

@media (prefers-color-scheme: dark) {
	:root:not(.light-theme) {
		background-color: black;
		color: silver;
		--border-color: grey;
	}

	:root:not(.light-theme) .legend {
		color: silver;
	}
}

@media (max-width: 768px) {
	.menu {
		width: 85%;
	}
}

.highlight-from-white,
.highlight-to-white {
	outline: 4px dotted #444;
	outline-offset: -4px;
	mix-blend-mode: difference;
}

.highlight-from-black,
.highlight-to-black {
	outline: 4px dotted #ddd;
	outline-offset: -4px;
	mix-blend-mode: difference;
}

.highlight-possible-move {
    box-shadow: inset 0 0 20px 1em rgba(27, 244, 3, 0.5);
}

.highlight-selected {
    box-shadow: inset 0 0 20px 1em rgba(210, 210, 210, 0.5);
}