html,
body {
	color: black;
	--border-color: black; /* Default border color for light mode */
	font: calc(var(--square-size) / 2) Arial, Helvetica, sans-serif;
	height: 100%;
}

.container-global {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	overflow: hidden;
}

.rank {
	display: flex;
}

.menu {
	position: absolute;
	left: 0;
	top: 2.5em; /* Position it just below the menu icon */
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	min-width: 200px;
	transform: translateX(-110%); /* Start off-screen to the left */
	transition: transform 0.3s ease-in-out;
	z-index: 10; /* Ensure it appears above the board */
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-container {
	position: absolute;
	left: .3em;
	top: 0px;
}

.menu-container button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font-size: inherit;
	color: inherit;
	visibility: hidden;
}

.menu.open {
	transform: translateX(0); /* Slide it into view */
}

.rank:nth-child(2) .square {
	border-top: calc(var(--square-size) / 32) solid var(--border-color);
}

.rank:nth-child(9) .square {
	border-bottom: calc(var(--square-size) / 32) solid var(--border-color);
}

.rank .square:nth-child(2) {
	border-left: calc(var(--square-size) / 32) solid var(--border-color);
}

.rank .square:nth-child(9) {
	border-right: calc(var(--square-size) / 32) solid var(--border-color);
}

.legend {
	cursor: default;
	display: inline-block;
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square {
	cursor: default;
	display: inline-block;
	font-size: calc(var(--square-size) / 1.14);
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square .ui-draggable-handle {
	cursor: grab;
}

.square .ui-draggable-dragging {
	cursor: grabbing;
	opacity: .75;
	text-shadow: 2px 2px 4px gray;
}

.square.white {
	background-color: var(--square-white);
}

.square.black {
	background-color: var(--square-black);
}

span.white {
	color: #222;
}

span.black {
	color: black;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: black;
		color: silver;
		--border-color: grey; /* New border color for dark mode */
	}

	.legend {
		color: silver;
	}
}