html,
body {
	color: black;
	height: 100%;
}

.container-global {
	align-items: center;
	display: flex;
	font: calc(var(--square-size) / 2) Arial, Helvetica, sans-serif;
	justify-content: center;
	height: 100%;
	overflow: hidden;
}

#menu-icon {
	background: none;
	border: none;
	font: calc(var(--square-size) / 2) Arial, Helvetica, sans-serif;
	padding: .2em .4em;
	position: absolute;
	right: .5em;
	top: .5em;
	color: inherit;
}

.menu {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	width: 33%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.menu-container.open {
	display: flex;
}

.rank {
	display: flex;
}

.rank:nth-child(2) .square {
	border-top: calc(var(--square-size) / 32) solid var(--border-color);
}

.rank:nth-child(9) .square {
	border-bottom: calc(var(--square-size) / 32) solid var(--border-color);
}

.rank .square:nth-child(2) {
	border-left: calc(var(--square-size) / 32) solid var(--border-color);
}

.rank .square:nth-child(9) {
	border-right: calc(var(--square-size) / 32) solid var(--border-color);
}

.legend {
	cursor: default;
	display: inline-block;
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square {
	cursor: default;
	display: inline-block;
	font-size: calc(var(--square-size) / 1.14);
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square .ui-draggable-handle {
	cursor: grab;
}

.square .ui-draggable-dragging {
	cursor: grabbing;
	opacity: .75;
	text-shadow: 2px 2px 4px gray;
}

.square.white {
	background-color: var(--square-white);
}

.square.black {
	background-color: var(--square-black);
}

span.white {
	color: #222;
}

span.black {
	color: black;
}

@media (prefers-color-scheme: dark) {
	html,
	body {
		background-color: black;
		color: silver;
		--border-color: grey; /* New border color for dark mode */
	}

	.legend {
		color: silver;
	}
}