/* General Styles */
html,
body {
	background-color: inherit;
	color: inherit;
	height: 100%;
}

:root {
    --font-stack: Arial, Helvetica, sans-serif;
    --menu-background-color: #f0f0f0;
    --menu-border-color: #ccc;
    --menu-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    --highlight-move-color: rgba(27, 244, 3, 0.125);
    --highlight-select-color: green;
    --highlight-check-color: red;
    --highlight-last-move-color: orange;
}

.container-global {
	align-items: center;
	display: flex;
	font: calc(var(--square-size) / 2.5) var(--font-stack);
	justify-content: center;
	height: 100%;
	overflow: hidden;
}

/* Menu Styles */
#menu-icon {
	background: none;
	border: none;
	font: calc(var(--square-size) / 1.8) var(--font-stack);
	padding: .2em .4em;
	position: absolute;
	right: .5em;
	top: .5em;
	color: inherit;
}

.menu {
	background-color: var(--menu-background-color);
	border: 1px solid var(--menu-border-color);
	border-radius: 4px;
	box-shadow: var(--menu-box-shadow);
	opacity: .9;
	padding: 10px;
	width: 50%;
	max-height: 90vh;
	overflow-y: auto;
}

.menu-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.menu-container.open {
	display: flex;
}

.tab-content {
	color: black;
	margin: 10px 0;
}

.color-scheme-group {
	padding-left: 10px;
}

.play-as-group {
	padding-left: 10px;
}

.difficulty-slider-container {
	display: inline-block;
	padding: 10px;
	width: 60%;
}

.highlight-switch-div .form-switch {
	margin-bottom: -.5em;
    padding: 0 0 0 3.1em;
    width: 60%;
}



input[type="range"] {
    width: 100%;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 1.5%;
}

datalist option {
    font-size: 0.75rem;
    text-align: center;
}

label[for="difficulty-slider"] {
	margin-top: 8px;
	vertical-align: top;
}

.tab-content label {
	text-align: right;
	width: 37%;
}

.modal-content {
	color: black;
	opacity: .9;	
}

.toast-body {
	color: black;
}

/* Board Styles */
.rank {
	display: flex;
}

.rank:nth-child(2) .square {
	border-top: calc(var(--square-size) / 28) solid var(--border-color);
}

.rank:nth-child(9) .square {
	border-bottom: calc(var(--square-size) / 28) solid var(--border-color);
}

.rank .square:nth-child(2) {
	border-left: calc(var(--square-size) / 28) solid var(--border-color);
}

.rank .square:nth-child(9) {
	border-right: calc(var(--square-size) / 28) solid var(--border-color);
}

.legend {
	cursor: default;
	display: inline-block;
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square {
	cursor: default;
	display: inline-block;
	font-size: calc(var(--square-size) / 1.14);
	line-height: var(--square-size);
	text-align: center;
	height: var(--square-size);
	width: var(--square-size);
}

.square .ui-draggable-handle {
	cursor: grab;
}

.square .ui-draggable-dragging {
	cursor: grabbing;
	opacity: .85;
	text-shadow: 4px 4px 4px black;
}

.square.white {
	background-color: var(--square-white);
}

.square.black {
	background-color: var(--square-black);
}

span.white {
	color: #222;
}

span.black {
	color: black;
}

:root.dark-theme {
	background-color: black;
	color: silver;
	--border-color: grey;
}

:root.light-theme {
	background-color: white;
	color: black;
	--border-color: black;
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
	:root:not(.light-theme) {
		background-color: black;
		color: silver;
		--border-color: grey;
	}

	:root:not(.light-theme) .legend {
		color: silver;
	}
}

@media (max-width: 768px) {
	.menu {
		width: 85%;
	}
}

/* Highlighting Styles */
.highlight-from-white,
.highlight-to-white,
.highlight-from-black,
.highlight-to-black {
	outline: .1em dotted var(--highlight-last-move-color);
	outline-offset: -.1em;
}

.highlight-possible-move {
    box-shadow: inset 0 0 1em 1em var(--highlight-move-color);
}

.highlight-selected {
    outline: .1em solid var(--highlight-select-color);
    outline-offset: -.1em;
}

.highlight-check {
    outline: .1em solid var(--highlight-check-color);
    outline-offset: -.1em;
}

.board.no-highlight .highlight-from-white,
.board.no-highlight .highlight-to-white,
.board.no-highlight .highlight-from-black,
.board.no-highlight .highlight-to-black,
.board.no-highlight .highlight-possible-move,
.board.no-highlight .highlight-selected,
.board.no-highlight .highlight-check {
    outline: none;
    box-shadow: none;
}

.move-history-container {
    max-height: 200px;
    overflow-y: auto;
}

.game-state-controls {
    padding: 10px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}

.game-state-controls textarea {
    width: 100%;
    resize: vertical;
}

#about {
	padding: 10px;
}

#about p {
	text-indent: 3em;
	text-align: justify;
}

.external-link-indicator {
	vertical-align: super;
	font-size: 0.65em;
}

#language-select {
    display: inline-block;
    width: 50%;
	padding-left: 10px;
	margin-bottom: 6px;
	margin-left: 9px;
}