@font-face {
	font-family: 'IBM VGA 8x16';
	src: url('Web437_IBM_VGA_8x16.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	background-color: black;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

html .editor,
body .editor {
	background-color: grey;
}

body {
	display: flex;
	flex-flow: column;
	font: 10px Arial, Helvetica, sans-serif;
}

.ui-widget-overlay {
	background-color: black;
}

.overlay {
	align-items: center;
	background-color: black;
	display: flex;
	font-family: 'IBM VGA 8x16', monospace;
	height: 100%;
	justify-content: center;
	position: absolute;	
	width: 100%;
	z-index: 2;
}

.header {
	color: silver;
	font-family: 'IBM VGA 8x16', monospace;
	font-size: 24px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.header .level-name-container {
	text-align: center;
}

.header .level-name-container a {
	color: unset;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}

.header .level-name-container label {
	width: max-content;
}

#button-help,
#music-toggle {
	background-color: black;
	border: none;
	border-radius: 0px;
	font-size: 24px;
	height: 23px;
	line-height: 16px;
	margin: -1px 0px 0px 16px;
	padding: 0px;
}

.footer.row {
	color: silver;
	font-family: 'IBM VGA 8x16', monospace;
	font-size: 24px;
	height: 0px;
	margin: 0px;
	position: relative;
	top: -1em;
}

.steps-container {
	padding-right: 16px;
	text-align: right;
}

.header label, 
.steps-container label {
	background-color: black;
	color: white;
}

.header span,
.footer span {
	color: yellow;
	display: inline-block;
}

.header button {
	margin-top: 1em;
}

.level-container {
	align-items: center;
	border: 5px double silver;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	line-height: 11px;
	margin: 9px;
	padding: 1em;
}

.level-row {
	display: block;
	margin-bottom: -2px;
}

.level-cell {
	display: inline-block;
	height: 16px;
	width: 16px;
}

.editor .level-cell {
	border: 1px dotted transparent;
}

.ibm-font strong {
	font-weight: normal;
	color: yellow;
}

.ibm-font.ui-widget.ui-widget-content {
	border: 5px double silver;
	border-radius: 0;
	font-family: 'IBM VGA 8x16', monospace;
	font-size: 16px;
	margin: 9px;
}

.ibm-font .ui-widget {
	font-family: 'IBM VGA 8x16', monospace;
}

.ibm-font .ui-dialog-title {
	font-weight: normal;
}

#help-dialog tr:not(:last-child) {
	border-bottom: 2px solid silver;
}

/* this is inside help dialog, but not inside #help-dialog */
.ui-dialog div.form-check { 
	display: inline-block;
	margin: 1em;
}

.ui-dialog div.form-check label {
	margin: 5px;
	padding-left: 5px;
}

#help-dialog td {
	image-rendering: pixelated;
	padding: 8px;
	vertical-align: top;
}

#help-dialog .level-cell {
	margin-top: 3px;
	transform: scale(2);
}

#help-dialog .ui-widget select {
	font-family: 'IBM VGA 8x16', monospace;
	width: fit-content;
}

#help-dialog .ui-widget button {
	font-family: 'IBM VGA 8x16', monospace;
	width: 114px;
}

.mobile-controls {
	display: none;
}

@media (orientation: portrait) {
	.mobile-controls {
		align-items: center;
		border: 5px double silver;
		display: flex;
		justify-content: center;
		margin: 9px;
		padding: 1em;
	}
}

.mobile-controls .mobile-buttons-container {
	width: 145px;
}

.mobile-controls .mobile-buttons-container button { 
	color: yellow;
	margin: 3px;
}

.mobile-controls .mobile-buttons-container button#button-right { 
	position: relative;
	left: -5px;
}

.pixel-theme .level-cell {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	image-rendering: pixelated;
}

.pixel-theme .level-cell.start,
.pixel-theme .level-cell.finish,
.pixel-theme .level-cell.floor {
	background-image: url("./Images/pixel_wood.png");
}

.pixel-theme.editor .level-cell.start {
	background-image: url("./Images/pixel_worker_B.gif"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.wall {
	background-image: url("./Images/pixel_bricks.png");
}

.pixel-theme .level-cell.pallet {
	background-image:  url("./Images/pixel_pallet.png"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.pallet.crate {
	background-image: url("./Images/pixel_stack.png"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.crate {
	background-image: url("./Images/pixel_crate.png"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.worker-t {
	background-image: url("./Images/pixel_worker_T.gif"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.worker-r {
	background-image: url("./Images/pixel_worker_R.gif"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.worker-b {
	background-image: url("./Images/pixel_worker_B.gif"), url("./Images/pixel_wood.png");
}

.pixel-theme .level-cell.worker-l {
	background-image: url("./Images/pixel_worker_L.gif"), url("./Images/pixel_wood.png");
}

.shake {
	animation: shake 5s linear 1;
}

@keyframes shake {
	0% { background-position: 0px 0px, 0px 0px; }
	10% { background-position: -1px -2px, 0px 0px; }
	20% { background-position: -3px 0px, 0px 0px; }
	30% { background-position: 3px 2px, 0px 0px; }
	40% { background-position: 1px -1px, 0px 0px; }
	50% { background-position: -1px 2px, 0px 0px; }
	60% { background-position: -3px 1px, 0px 0px; }
	70% { background-position: 3px 1px, 0px 0px; }
	80% { background-position: -1px -1px, 0px 0px; }
	90% { background-position: 1px 2px, 0px 0px; }
	100% { background-position: 1px -2px, 0px 0px; }
}

.blink {
	animation: blink 1s linear infinite;
}

@keyframes blink {
	50% {
	  opacity: 0;
	}
}