body {
	background-color: silver;
	font: 10px Arial, Helvetica, sans-serif;
}

#container {
	display: inline-block;	
	background-color: white;
	border: 3px outset #eee;
	padding: 32px;
	margin: 32px;
}

#container table {
	border-collapse: collapse;
}

/* Gridlines */
#container table td {
	background-image: url("Images/gridlines.gif");
	background-position: center;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

/* Hovering dot */
#container table.turn-of-player-0 td:not(.dot-of-player-0):not(.dot-of-player-1):not(.property-of-player-0):not(.property-of-player-1):hover {
	background-image: url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 72px, 128px;
	width: 32px;
	height: 32px;
}

#container table.turn-of-player-1 td:not(.dot-of-player-0):not(.dot-of-player-1):not(.property-of-player-0):not(.property-of-player-1):hover {
	background-image: url("Images/1.png"), url("Images/gridlines.gif");
	background-size: 72px, 128px;
	width: 32px;
	height: 32px;
}

/* Dot */
#container table td.dot-of-player-0 {
	background-image: url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 92px, 128px;
}

#container table td.dot-of-player-1  {
	background-image: url("Images/1.png"), url("Images/gridlines.gif");
	background-size: 92px, 128px;
}

/* Property square */
#container table td.property-of-player-0 {
	background-image: url("Images/0-property.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px;
}

#container table td.property-of-player-1  {
	background-image: url("Images/1-property.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px;
}

/* Property square with own dot */
#container table td.dot-of-player-0.property-of-player-0 {
	background-image: url("Images/0-property.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 92px, 128px;
}

#container table td.dot-of-player-1.property-of-player-1 {
	background-image: url("Images/1-property.png"), url("Images/1.png"), url("Images/gridlines.gif");
	background-size: 128px, 92px, 128px, 128px;
	
}

/* Property square with opponents' dot */
#container table td.dot-of-player-1.property-of-player-0 {
	background-image: url("Images/0-property.png"), url("Images/1.png"), url("Images/gridlines.gif");
	background-size: 128px, 92px, 128px, 128px;
	
}

#container table td.dot-of-player-0.property-of-player-1 {
	background-image: url("Images/1-property.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 92px, 128px;
}

/* Sharp outside corners */
#container table td.dot-of-player-0.property-of-player-0-up1 {
	background-image: url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-right1 {
	background-image: url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-down1 {
	background-image: url("Images/0-property-o4.png"), url("Images/0-property-o3.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-left1 {
	background-image: url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 92px, 128px;
}

/* Flat straight edges */
#container table td.dot-of-player-0.property-of-player-0-up2 {
	background-image: url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-right2 {
	background-image: url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-down2 {
	background-image: url("Images/0-property-o5.png"), url("Images/0-property-o4.png"), url("Images/0-property-o3.png"), url("Images/0-property-o2.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-left2 {
	background-image: url("Images/0-property-o7.png"), url("Images/0-property-o6.png"), url("Images/0-property-o5.png"), url("Images/0-property-o4.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

/* Flat slanted edges */
#container table td.dot-of-player-0.property-of-player-0-se2 {
	background-image: url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-sw2 {
	background-image: url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-nw2 {
	background-image: url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-ne2 {
	background-image: url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 92px, 128px;
}

/* Sharp inside corners */
#container table td.dot-of-player-0.property-of-player-0-down3 {
	background-image: url("Images/0-property-o6.png"), url("Images/0-property-o5.png"), url("Images/0-property-o4.png"), url("Images/0-property-o3.png"), url("Images/0-property-o2.png"), url("Images/0-property-o1.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-left3 {
	background-image: url("Images/0-property-o0.png"), url("Images/0-property-o7.png"), url("Images/0-property-o6.png"), url("Images/0-property-o5.png"), url("Images/0-property-o4.png"), url("Images/0-property-o3.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-up3 {
	background-image: url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-right3 {
	background-image: url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-nw4 {
	background-image: url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-ne4 {
	background-image: url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-se4 {
	background-image: url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-sw4 {
	background-image: url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

/* Blunt outside corners */
#container table td.dot-of-player-0.property-of-player-0-outnne2 {
	background-image: url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outne2 {
	background-image: url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outse2 {
	background-image: url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outsse2 {
	background-image: url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outssw2 {
	background-image: url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outsw2 {
	background-image: url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outnw2 {
	background-image: url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-outnnw2 {
	background-image: url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 92px, 128px;
}

/* Blunt inside corners */
#container table td.dot-of-player-0.property-of-player-0-inssw3 {
	background-image: url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-insw3 {
	background-image: url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-innw3 {
	background-image: url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-innnw3 {
	background-image: url("Images/0-property-o5.png"), url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-innne3 {
	background-image: url("Images/0-property-o6.png"), url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-inne3 {
	background-image: url("Images/0-property-o7.png"), url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-inse3 {
	background-image: url("Images/0-property-o0.png"), url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}

#container table td.dot-of-player-0.property-of-player-0-insse3 {
	background-image: url("Images/0-property-o1.png"), url("Images/0-property-o2.png"), url("Images/0-property-o3.png"), url("Images/0-property-o4.png"), url("Images/0-property-o5.png"), url("Images/0.png"), url("Images/gridlines.gif");
	background-size: 128px, 128px, 128px, 128px, 128px, 92px, 128px;
}
