html,
body {
	height: 100%;
}

legend {
	cursor: default;
	padding: .5em;
	width: auto;
}

#field {
	position: relative;
}

#field table {
	border-spacing: 0;
	margin: auto;
	margin-bottom: 0;
	padding: 0;
}

#field table.legend {
	margin-top: 1em;
}

#field tr:first-of-type td {
	border-top: none;
}

#field tr:last-of-type td {
	border-bottom: none;
}

#field td {
	border: 3px solid black;
	box-sizing: border-box;
	height: 48px;
	margin: 0;
	padding: 0;
	width: 48px;
}

#field tr td:first-of-type {
	border-left: none;
}

#field tr td:last-of-type {
	border-right: none;
}

#field td[player] {
	background-color: transparent;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

#field td[player="0"]::before {
	color: red;
	content: "✕";
}

#field td[player="1"]::before {
	color: blue;
	content: "◯";
}

#field td[player="2"]::before {
	color: yellow;
	content: "★";
}

#field td[player="3"]::before {
	color: green;
	content: "❦";
}

#field td[player="4"]::before {
	color: aqua;
	content: "❅";
}

#field td[player="5"]::before {
	color: fuchsia;
	content: "❀";
}

#field table.legend tr td {
	border: none;
}

#field table.legend tr td:first-child {
	padding-left: 1em;
	padding-right: 1em;
}

#strike {
	background-color: black;
	border-radius: 16px;
	display: none;
	height: 10px;
	opacity: 0.5;
	pointer-events: none;
	position: absolute;
}

.alert {
	bottom: 0;
	position: fixed;
}