body {
	padding: 5em;
}

legend {
	width: auto;
	padding: .5em;
	cursor: default;
}

#field table {
	margin: auto;
}

#field table.legend {
	margin-top: 1em;
}

#field tr:first-of-type td {
	border-top: none;
}

#field tr:last-of-type td {
	border-bottom: none;
}

#field td {
	width: 48px;
	height: 48px;
	border: 3px solid black;
}

#field tr td:first-of-type {
	border-left: none;
}

#field tr td:last-of-type {
	border-right: none;
}

#field td[player] {
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
	font-size: 28px;
	font-weight: bold;
}

#field td[player="0"]::before {
	color: red;
	content: "✕";
}

#field td[player="1"]::before {
	color: blue;
	content: "◯";
}

#field td[player="2"]::before {
	color: yellow;
	content: "★";
}

#field td[player="3"]::before {
	color: green;
	content: "❦";
}

#field td[player="4"]::before {
	color: aqua;
	content: "❅";
}

#field td[player="5"]::before {
	color: fuchsia;
	content: "❀";
}

#field table.legend tr td {
	border: none;
}

#field table.legend tr td:first-child {
	padding-left: 1em;
	padding-right: 1em;
}

.alert {
	position: fixed;
	bottom: 0;
}
