body {
	background-color: silver;
	font: 10px Arial, Helvetica, sans-serif;
}

.container {
	background-color: white;
	border: 3px outset #eee;
	display: inline-block;
	margin: 32px;
	padding: 32px;
}