body {
	background-color: transparent;
	font: 10px Arial, Helvetica, sans-serif;
}

.container {
	background: url("./Images/bg.png");
	background-repeat: no-repeat;
	background-size: auto;
	box-sizing: content-box;
	border: 3px outset transparent;
	padding: 48px;
	padding-top: 64px;
	margin: 32px;
	font-weight: bold;
	font-size: 2.7em;
	cursor: pointer;
	width: 350px;
	height: 160px;
}

.container p {
	text-shadow: -1px -1px 1px #000, 1px 1px 1px wheat;
	opacity: 0.7;
	color: black;
}